EXPO_PUBLIC_MAPBOX_ACCESS_TOKEN=pk.your_restricted_public_token
RNMAPBOX_MAPS_DOWNLOAD_TOKEN=sk.your_downloads_read_token
EXPO_PUBLIC_API_URL=your_public_deployed_url
EXPO_PUBLIC_MAPBOX_ACCESS_TOKEN=your_mapbox_api
EXPO_PUBLIC_ROUTES_URL=https://your-route-api.example.com/routes
EXPO_PUBLIC_ROUTES_KEY=your_public_route_api_key
